/* Ini CSS */

main {
    padding: 32px;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon {
    height: 50px;
    width: 50px;
    border: 1px solid;

    /* For logo icon */
    background-image: url(../assets/logo.jpg);
    background-size: cover;
    border-radius: 50%;
}

nav>a{
    padding-left: 32px;
    padding-right: 32px;
    border: 1px solid;
}

.banner-container{
    height: 350px;
    width: 100%;
    border: 1px solid;
}

.profile-content {
    display: flex;
    justify-content: space-evenly;
}

.profile-item {
    text-align: center;
    flex: 1;
    text-align: -webkit-center;
}

.profile-icon {
    height: 50px;
    width: 50px;
    
    /* For image icon */
    background-size: cover;
    border-radius: 50%;
}

.profile-1 {
    background-image: url(../assets/image1.jpg);
}

.profile-2 {
    background-image: url(../assets/image2.jpg);
}

.profile-3 {
    background-image: url(../assets/image3.jpg);
}

.divider {
    flex: 2;
}